<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhilbold.atelierconstituant" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AtelierListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AtelierDetailActivity"
            android:label="@string/title_atelier_detail"
            android:parentActivityName=".AtelierListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AtelierListActivity" />
        </activity>
        <activity
            android:name=".PersonneListActivity"
            android:label="@string/title_personne_list" >
        </activity>
        <activity
            android:name=".PersonneDetailActivity"
            android:label="@string/title_personne_detail"
            android:parentActivityName=".PersonneListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jhilbold.atelierconstituant.PersonneListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
